//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

extends ../layouts/basic

block title
    | Angular Gridster Demo

block content

    #index

        introduction.
            This is a demonstration of various options for setting up Gridster for use in Looker's
            dashboards. A number of options are demonstrated below.

        options
            demo
                a(href='/adjustable_row_height.html')
                     b Adjustable Row Height
                p the row height can be set independently from the column height and adjusted dynamically
